* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Anton', sans-serif;
    font-family: 'League Gothic', sans-serif;
    color: white;
}

.flex-box {
    display: flex;
    background: black;
    justify-content: space-between;

}

.menu ul {
    display: flex;
    padding: 30px;
}

.logo {
    padding: 30px;
    font-size: 20px;
    color: white !important;
}

ul a {
    margin-right: 25px;
    font-size: 20px;
    color: white;

}

.menu a {
    position: relative;
}

.menu a::before {
    width: 0%;
    height: 3px;
    content: '';
    position: absolute;
    background: greenyellow;
    top: 20px;

}

ul li a:hover {
    color: greenyellow;

}

.menu a:hover::before {
    width: 100%;
    transition: 0.6s;
}

.header {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    background: black;

}

.content h1 {
    font-size: 30px !important;
    margin: 50px;
}

.content h1,
a,
p {
    margin-left: 30%;


}

.half-width {
    width: 50%;
}

.btn {
    padding: 12px;
    width: 150px;
    border-radius: 5px;
    background: linear-gradient(to right, tomato, crimson);
    color: black;
}

.btn:hover {
    background: linear-gradient(to right, greenyellow, yellow);
    color: red;
}

.about-me h1 {
    font-size: 40px;
    margin-top: 10%;
    color: white;
}

.about-me p {
    color: white;
    margin-left: 0;
    margin-right: 20%;
    margin-top: 15%;
}

.about .half-width {
    margin-top: 100px;
}

.image img {
    width: 80%;
}

.about {
    display: flex;
    background: black;
}

.content-for-image h2 {
    color: white;
    margin-left: 30%;
    margin-bottom: 10px;
    text-decoration-line: underline;
    text-decoration-thickness: 4px;
    text-decoration-color: tomato;
    text-underline-offset: 5px;
}

.content-for-image p {
    color: white;

}

#food {
    background: black;
    overflow: hidden;
    display: flex;
}

.half {
    width: 20%;
    /*  border-left: 5px solid tomato; */
    box-shadow: 3px 3px 2px rgba(246, 241, 241, 0.93);
    margin-top: 2%;
    margin-bottom: 4%;
    border-radius: 6px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5%;
}

.half img {
    width: 100%;
}